header {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.btn {
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.5s;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0);
  background-color: black;
  color: white;
}
.btn :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
hr {
  width: 100%;
  margin: 0 auto;
}
